@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .c-h1 {
        @apply text-[46px] font-bold leading-[60px];
    }

    .c-h2 {
        @apply text-[36px] font-semibold leading-9;
    }

    .c-h3 {
        @apply text-[32px] font-bold leading-8;
    }

    .c-h4 {
        @apply text-[31px] font-bold leading-9;
    }

    .c-h5 {
        @apply text-[29px] font-semibold leading-9;
    }

    .c-h6 {
        @apply text-[28px] font-bold leading-7;
    }

    .c-h7 {
        @apply text-[24px] font-bold leading-8;
    }

    .c-xl {
        @apply text-[20px] font-semibold leading-6;
    }

    .c-large {
        @apply text-[18px] font-bold leading-8;
    }

    .c-medium {
        @apply text-[16px] font-normal leading-5;
    }

    .c-normal {
        @apply text-[14px] font-normal leading-4;
    }

    /* ... */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.ant-table-thead .ant-table-cell {
    background-color: #E7EAEF !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
